<div>

    <h1>CREDITS</h1>

    <form ng-submit="$ctrl.addCredit()">
        <div>Amount $<input type="number" ng-model="$ctrl.newCreditAmount"></div>
        <div>Note: <input type="text" ng-model="$ctrl.newCreditNote"></div>
        <div><input type="submit" value="Add to Credits"></div>
    </form>

    <h3>Total Credit</h3>
    <h3>$515</h3>

    <table>
        <tr ng-repeat="creditEntry in $ctrl.creditEntries">
            <td>{{ creditEntry.amount | currency }}</td>
            <td>{{ creditEntry.note }}</td>
            <td>{{ creditEntry.createdAt | date : 'medium' }}</td>
            <td><button ng-click="$ctrl.showCredit(creditEntry._id)">View</button></td>
            <!-- when the delete button is clicked, tell Angular what index in the array to delete -->
            <!-- and also what the id of the credit is so we can delete it from the database -->
            <td><button ng-click="$ctrl.deleteCredit($index, creditEntry._id)">Delete</button></td>
        </tr>
    </table>

</div>
