<div class="container">
    <div class="card">
        <div class="card-content">
            <form ng-submit="$ctrl.updateCreditInformation($ctrl.creditToUpdate._id)">
                <div>Amount: <input type="number" ng-model="$ctrl.creditToUpdate.amount"></div>
                <div>Note: <input type="text" ng-model="$ctrl.creditToUpdate.note"></div>
                <div>Created At: {{$ctrl.creditToUpdate.createdAt}}</div>
                <div><input class="btn" type="submit" value="Update Credit Entry"></div>
            </form>
        </div>
    </div>
</div>