<div class="container">

    <h1>Expenses</h1>

    <div class="card">
        <div class="card-content">

            <form ng-submit="$ctrl.addExpense()">
                <div>Amount (USD)<input type="number" ng-model="$ctrl.newExpenseAmount" required></div>
                <div>Note: <input type="text" ng-model="$ctrl.newExpenseNote" required></div>
                <div><input class="btn" type="submit" value="Add to Expenses"></div>
            </form>

        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h3>Total Expenses</h3>
            <h3><i>{{ $ctrl.totalExpenses() | currency }}</i></h3>
        </div>
    </div>

    <div class="card">
        <div class="card-content">

            <table>
                <tr>
                    <th>Amount</th>
                    <th>Note</th>
                    <th>Date Entered</th>
                    <th></th>
                </tr>
                <tr class="row" ng-repeat="expenseEntry in $ctrl.expenseEntries">
                    <td>{{ expenseEntry.amount | currency }}</td>
                    <td>{{ expenseEntry.note }}</td>
                    <td>{{ expenseEntry.createdAt | date : 'medium' }}</td>
                    <td><button class="btn" ng-click="$ctrl.showExpense(expenseEntry._id)">View</button></td>
                    <!-- when the delete button is clicked, tell Angular what index in the array to delete -->
                    <!-- and also what the id of the expense is so we can delete it from the database -->
                    <td><button class="btn" ng-click="$ctrl.deleteExpense($index, expenseEntry._id)">Delete</button></td>
                </tr>
            </table>

        </div>
    </div>

</div>